# Ignore Gradle project-specific cache directory
.gradle
.settings

# Ignore Gradle build output directory
build
bin
/resource/static/
/resource/templates/

# f4d file
/honam-admin/src/main/webapp/f4d