<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="honam.persistence.PolicyMapper">

    <!-- 운영 정책 정보 조회 -->
    <select id="getPolicy" resultType="policy">
        /* getPolicy */
        SELECT * FROM policy
    </select>

    <!-- 운영 정책 수정 -->
    <update id="updatePolicy" parameterType="policy">
        /* updatePolicy */
        UPDATE policy
		SET content_cache_version = #{contentCacheVersion},
			geoserver_enable = #{geoserverEnable},
			geoserver_data_url = #{geoserverDataUrl},
			geoserver_data_workspace = #{geoserverDataWorkspace},
			geoserver_data_store = #{geoserverDataStore},
			geoserver_user = #{geoserverUser},
			geoserver_password = #{geoserverPassword},
			geoserver_imageprovider_enable = #{geoserverImageproviderEnable},
			geoserver_imageprovider_url = #{geoserverImageproviderUrl},
			geoserver_imageprovider_layer_name = #{geoserverImageproviderLayerName},
			geoserver_imageprovider_style_name = #{geoserverImageproviderStyleName},
			geoserver_imageprovider_parameters_width = #{geoserverImageproviderParametersWidth},
			geoserver_imageprovider_parameters_height = #{geoserverImageproviderParametersHeight},
			geoserver_imageprovider_parameters_format = #{geoserverImageproviderParametersFormat},
			geoserver_terrainprovider_enable = #{geoserverTerrainproviderEnable},
			geoserver_terrainprovider_url = #{geoserverTerrainproviderUrl},
			geoserver_terrainprovider_layer_name = #{geoserverTerrainproviderLayerName},
			geoserver_terrainprovider_style_name = #{geoserverTerrainproviderStyleName},
			geoserver_terrainprovider_parameters_width = #{geoserverTerrainproviderParametersWidth},
			geoserver_terrainprovider_parameters_height = #{geoserverTerrainproviderParametersHeight},
			geoserver_terrainprovider_parameters_format = #{geoserverTerrainproviderParametersFormat},
			geoserver_wms_version = #{geoserverWmsVersion}
		WHERE policy_id = #{policyId}
    </update>

</mapper>