<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="honam.persistence.SatMapper">

	<!-- 년간 변위율(평균값) 목록  -->
	<select id="getListSatAvg" parameterType="string" resultType="sat">
		/* getListSatAvg */
		SELECT DISTINCT lon, lat , slope
		FROM sat
		WHERE fac_num = #{facNum}
	</select>
	
	<!-- 선택된 지점의 날짜별 변위값 목록  -->
	<select id="getListSatValueByLonLat" parameterType="sat" resultType="sat">
		/* getListSatValueByLonLat */
		SELECT acquire_dt AS acquireDate, value
		FROM sat
		WHERE fac_num = #{facNum}
		AND lon = #{lon}
		AND lat = #{lat}
	</select>
	
	<!-- 년간 변위율(평균값) 건수  -->
	<select id="getSatAvgTotalCount" parameterType="string" resultType="long">
		/* getSatAvgTotalCount */
		SELECT COUNT(ogc_fid)
		FROM sat
		WHERE fac_num = #{facNum}		
	</select>
	
</mapper>