<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="honam.persistence.SensorMapper">

	<!-- sensorId 목록  -->
	<select id="getListSensorID" parameterType="string" resultType="sensor">
		/* getListSensorID */
		SELECT DISTINCT ON(A.wkb_geometry) 
				A.ogc_fid as gid, 
				A.sensorid,
				substr(A.sensorid,1,3) as sensor_type,
				ST_X(ST_Centroid(A.wkb_geometry)) AS lon_wgs,
				ST_Y(ST_Centroid(A.wkb_geometry)) AS lat_wgs, 
				A.z AS alt, 
				A.condition,
				A.time,
				A.meanvalue,
				A.maxvalue
		FROM sensorid A
		WHERE A.fac_num = #{facNum}
	</select>
	
	<!-- sensorId 건수  -->
	<select id="getSensorIDTotalCount" parameterType="string" resultType="long">
		/* getSensorIDTotalCount */
		SELECT COUNT(A.ogc_fid)
		FROM sensorid A
		WHERE A.fac_num = #{fac_num}		
	</select>
	
	<!-- 선택된 지점의 SensorID 목록  -->	
	<select id="getListSensorIDByLonLat" parameterType="sensor" resultType="sensor">
		/* getListSensorIDByLonLat */
		SELECT 
		A.ogc_fid as gid, sensorid, ST_AsText(A.wkb_geometry) AS location, A.z AS alt, A.condition, A.time, A.meanvalue, A.maxvalue
		FROM sensorid A
		WHERE ST_AsText(A.wkb_geometry) LIKE '%' || #{lat_wgs} || '%'
		AND ST_AsText(A.wkb_geometry) LIKE '%' || #{lon_wgs} || '%'	
	</select>
	
	<!-- SensorType별 SensorID 목록  -->
	<select id="getListSensorIDBySensorType" parameterType="sensor" resultType="sensor">
		/* getListSensorIDBySensorType */
		SELECT 
		A.ogc_fid as gid, sensorid, ST_AsText(A.wkb_geometry) AS location, A.z AS alt, A.condition, A.time, A.meanvalue, A.maxvalue
		FROM sensorid A
		WHERE A.fac_num = #{fac_num}
		AND A.sensorid LIKE '%' || #{sensorType} || '%'	
	</select>
		
</mapper>