<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="honam.persistence.UserGroupMapper">

	<!-- 사용자 그룹 목록 -->
	<select id="getListUserGroup" parameterType="userGroup" resultType="userGroup">
		/* getListUserGroup */
		WITH RECURSIVE user_group_tree (
			user_group_id, user_group_key, user_group_name, ancestor, parent, depth, view_order, basic, available, children,
			description, insert_date, path, cycle
		) AS (
	        SELECT A.user_group_id, A.user_group_key, A.user_group_name, A.ancestor, A.parent, A.depth, A.view_order, A.basic, A.available, A.children,
	        	A.description, A.insert_date, ARRAY[A.view_order], false
			FROM user_group A
			WHERE A.parent = 0
			<if test="available == true">
				AND A.available = true
			</if>
			UNION ALL
	        SELECT A.user_group_id, A.user_group_key, A.user_group_name, A.ancestor, A.parent, A.depth, A.view_order, A.basic, A.available, A.children,
	        	A.description, A.insert_date, path || A.view_order, A.user_group_id = ANY(path)
	        FROM user_group A, user_group_tree B
	        WHERE A.parent = B.user_group_id AND not cycle
		)
	    SELECT user_group_id, user_group_key, user_group_name, ancestor, parent, depth, view_order, basic, available, children, description, insert_date, path
	    FROM user_group_tree
	    ORDER BY path
	</select>

</mapper>