<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias type="honam.domain.AccessLog" alias="accessLog"/>
		<typeAlias type="honam.domain.APILog" alias="aPILog"/>
		<typeAlias type="honam.domain.Bridge" alias="bridge"/>
		<typeAlias type="honam.domain.SkSdo" alias="skSdo"/>
		<typeAlias type="honam.domain.SkSgg" alias="skSgg"/>
		<typeAlias type="honam.domain.Sat" alias="sat"/>
	</typeAliases>
	
</configuration>
